.title{
    font-size: 45px;
    font-family: "Nefelibata-Script";
    text-align: center;
    padding: 0 auto;
}
.card-deck{
    padding: 10px;
    margin: 0;
}
.card{
    margin: 0;
    padding-bottom: 0px;
    box-shadow: 1px 1px 12px rgba(0, 0, 0, 0.561);
}
.card:hover{
    transform: scale(1.02);
}
.card-text-before{
    text-decoration:line-through
}
.card-video{
    padding: 0 20px;
}
.videos{
    width: 100%;
    border-radius: 5px;
}

@media only screen and (max-width: 700px) {
    .card-video{
        padding: 0 10px;
    }
  }