footer{
    text-align: left;
    color: white;
    margin-left: 40%;
}
.footer-content{
    display: flex;
    
}
.footer-content>img{
    padding-right: 40px;
    
}
 .redes{
    padding-top: 20px;
    padding-bottom: 20px;
 }
 .redes>a{
    padding-right: 10px;
    color: white;
    
 }
 .redes>a:hover{
    color: rgb(255, 208, 0);
    cursor: pointer;
    
    
 }


 @media screen and (max-width: 768px) {
    footer{
        text-align: left;
        color: white;
        margin-left: 5%;
    }
    .logo-footer{
        padding-top: 40px;
        width: 130px;
        height: 130px;
        
    }
    .footer-content>img{
        padding-right: 20px;
        
    }
  
}