  .navbarcontains{
    background: rgb(0, 3, 14);
    background: radial-gradient(circle, rgb(0, 3, 17) 54%, rgb(0, 1, 19) 100%);
    position: fixed;
    width: 100%;
    z-index: 100;
  }
 
  #bars{
    color: aliceblue;
  }
  .nav-link {
    margin-left: 10px;
  }

  .logo {
    margin-left: 10px;
    width: 25px;
  }
  .nav-link{
    color: rgb(255, 255, 255);
  }

