footer {
    background-color: #ffffff;
    color: #000000;
    text-align: center;
    padding: 20px;
}

.logo img {
    width: 100px;
    height: auto;
}

.redes-sociales a {
    text-decoration: none;
    margin: 0 10px;
    color: #000000;
    font-size: 24px;
}
