.description {
  padding-top: 10px;
  color: aliceblue;
  text-align: center;
}
.description > p {
  text-align: justify;
  margin: 0 60px;
}
#icon-study {
  font-size: 100px;
}
.col-4{
    padding-top: 30px;
}

.glass-card {
  background: rgba(255, 255, 255, 0);
  border: 1px solid rgba(255, 255, 255, 0.8);
  backdrop-filter: blur(10px);
  border-radius: 10px;
  padding: 20px;
  box-shadow: 1px 1px 14px white;
  margin-bottom: 20px;
  color: aliceblue;
}

@media screen and (max-width: 768px) {
  .description > p {
    text-align: justify;
    margin: 0 10px;
  }
}
