#skills{
    padding: 0 40px;
}

#items-skills{
    font-size: 350px;
    text-align: center;
    align-items: center;
    color: aliceblue;
    text-shadow: 2px 2px 14px white;
}

.carousel-caption{
    color: aliceblue;
}
#carouselExampleDark{
    text-align: center;
    

}
.progress{
    box-shadow: 1px 1px 14px white;
}
.progress-bar{
    background-color: rgb(37, 18, 73);
   
}
.description-skills2{
    text-align: center;
    color: aliceblue;
    margin-top: 10px;
    margin-bottom: 40px;
    font-size: 18px;
    
}

@media screen and (max-width: 992px) {
}

@media screen and (max-width: 768px) {
    #items-skills{
        font-size: 200px;
        text-align: center;
        align-items: center;
        color: aliceblue;
    }
    .description-skills2{
        color: aliceblue;
        margin: 8px 20px 20px 20px
    }
    #skills{
        padding: 0 20px;
    }
    
  
}